<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand h1 mb-0" href="#"><h4>Recipe App</h4></a>

        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a href="" class="nav-link">Recipe</a>

            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Shopping List</a>

            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" role="button" href="#">Manage</a>
                <ul class="dropdown-menu">
                    <li>Save data</li>
                    <li>Fetch data</li>
                </ul>

            </li>
        </ul>

    </div>

</nav>