<form  (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="container">
        <div class="row form-group">
            <div class="col-sm-5">
                <label for="">Name</label>
                <input id="name"  class="form-control" type="text" ngModel name="name" required >
            </div>
            <div class="col-sm-2">
                <label for="">Amount</label>
                <input id="amount" pattern="^[1-9]+[0-9]*$" class="form-control" type="number"  ngModel name="amount" required >
            </div>
           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type='submit' class="btn btn-success" [disabled]="!f.valid">{{editMode?'update':'save'}}</button>
                <button *ngIf="editMode" type='button' class="btn ml-2 btn-danger" (click)="onDelete()">Delete</button>
                <button type='button' class="btn ml-2 btn-primary" (click)="onClear()">Clear</button>
            </div>
        </div>
        
        
    </div>
</form>