<form  >
    <div class="container">
        <div class="row form-group">
            <div class="col-sm-5">
                <label for="">Name</label>
                <input  class="form-control" type="text">
            </div>
            <div class="col-sm-2">
                <label for="">Amount</label>
                <input class="form-control" type="number">
            </div>
           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary">Add Item</button>
            </div>
        </div>
        
        
    </div>
</form>